{% extends 'base.html.twig' %}

{% block title %}Accueil avis locataire
{% endblock %}

{% block body %}
	<style>
		#spacecard {
			margin-top: 120px; /* Ajoute une marge en haut du formulaire */
			margin-bottom: 120px; /* Ajoute une marge en bas du formulaire */
		}
		#spaceh1 {
			margin-top: 60px; /* Ajoute une marge en haut du formulaire */
			margin-bottom: 20px; /* Ajoute une marge en bas du formulaire */
		}
	</style>
	<h1 class="text-center" id="spaceh1">Comment ça marche ?</h1>
	<div class="container" id="spacecard">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="text-center">1</h5>
						<p class="text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="text-center">2</h5>
						<p class="text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="text-center">3</h5>
						<p class="text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
