{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Meilleurs locataires{% endblock %}

{% block body %}
    <h1 class="text-center" id="spaceh1">Comment ça marche ?</h1>

   
{% endblock %}
