{% extends 'base.html.twig' %}

{% block title %}Toplocataire
{% endblock %}

{% block body %}

	<div class="container-fluid bg-light ">
		<div class="row">

			<div class="col-md-6">
				<div class="container d-flex justify-content-center align-items-center h-100">
					<div>
						<h2 class="text-center" style="font-family: 'Work Sans', sans-serif; color: black;">Lorem Ipsum</h2>
						<p class="text-center" style="font-family: 'Work Sans', sans-serif; color: black;">
							Vous etes en recherche de location et souhaiter vous demarquer ?
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="container">
					<div class="container">

						<div class="text-center">
							<img src="{{ asset('images/home/3home.webp') }}" class="rounded img-fluid image-in-card" alt="...">
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	{# This will be a comment #}

	<div class="container-fluid">
		<div class="row">

			<div class="col-md-6">
				<div class="container">
					<div class="container">

						<div class="text-center">
							<img src="{{ asset('images/home/2home.png') }}" class="rounded img-fluid image-in-card" alt="...">
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="container d-flex justify-content-center align-items-center h-100">
					<div>
						<h2 class="text-center" style="font-family: 'Work Sans', sans-serif; color: black;">Lorem Ipsum</h2>
						<p class="text-center" style="font-family: 'Work Sans', sans-serif; color: black;">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
														Nullam felis nisl, scelerisque non arcu sit amet,.
														Nulla scelerisque fringilla mauris, et porta est congue at.
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	{# This will be a comment #}

	<div class="container-fluid bg-light  ">
		<div class="row">

			<div class="col-md-6">
				<div class="container d-flex justify-content-center align-items-center h-100">
					<div>
						<h2 class="text-center" style="font-family: 'Work Sans', sans-serif; color: black;">Lorem Ipsum</h2>
						<p class="text-center" style="font-family: 'Work Sans', sans-serif; color: black;">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
														Nullam felis nisl, scelerisque non arcu sit amet,.
														Nulla scelerisque fringilla mauris, et porta est congue at.
						</p>
						<div class="text-center">
							<button type="button" class="btn btn-primary" style="font-family: 'Work Sans', sans-serif; color: white;" id="btnhome">Cliquez-ici</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="container">
					<div class="container">

						<div class="text-center">
							<img src="{{ asset('images/home/1home.jpg') }}" class="rounded img-fluid image-in-card" alt="...">
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<style>
		.image-in-card {
			max-width: 80%;
			margin: 20px;
		}
		h1,
		h2,
		p,
		button {
			font-family: 'Work Sans', sans-serif;
			color: black;
		}

		#btnhome {
			background-color: #1432BE;
			color: white;
			border-color: #1432BE;
		}
	</style>
{% endblock %}
