{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}
<style>
#messagesendcheck{
	margin-top: 220px; /* Ajoute une marge en haut du formulaire */
	margin-bottom: 120px; /* Ajoute une marge en bas du formulaire */
}
#messagesendchecktwo{
	margin-top: 220px; /* Ajoute une marge en haut du formulaire */
	margin-bottom: 120px; /* Ajoute une marge en bas du formulaire */
}
</style>

    <p id="messagesendcheck" class="text-center">
        S'il existe un compte correspondant à votre adresse e-mail, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
         Ce lien expirera dans{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p id="messagesendcheck" class="text-center" >Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a>.</p>
{% endblock %}
