{% extends  "@EasyAdmin/page/content.html.twig" %}

{% block content %}
  

<div class="container" id="spaceline">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="text-center">Nombre de locataires</h6>
                    <h2 class="text-center"><i class=""></i><span> {{ tenantCountLocataire }}</span></h2>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="text-center">Nombre d'agence</h6>
                    <h2 class="text-center"><i class=""></i><span>{{ tenantCountAgence }}</span></h2>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="text-center">Nombre d'utilisateurs</h6>
                    <h2 class="text-center"><i class=""></i><span>{{ userCount }}</span></h2>
                </div>
            </div>
        </div>
        
       
	</div>
</div>



   <style>
   #spaceline{
    margin-top: 20px;
   }
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
   </style>
{% endblock %}
