{# templates/account_verification/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Vérification du Compte{% endblock %}

{% block body %}

<style>
#spaceverif{
			margin-top: 60px; /* Ajoute une marge en haut du formulaire */
			margin-bottom: 60px; /* Ajoute une marge en haut du formulaire */

}
.Pageverifwork{
    font-family: "Work Sans", sans-serif;
}


</style>
<div class="container" id="spaceverif">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="Pageverifwork">Vérification du Compte</h1>
            <p class="Pageverifwork">Votre compte est en cours de vérification. Veuillez revenir plus tard.</p>
        </div>
    </div>
</div>
{% endblock %}
