{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-3">Les avis que vous avez postés</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Contenu</th>
                    <th>Profil de l'utilisateur</th> 
                </tr>
            </thead>
            <tbody> 
                {% for review in reviews %}
                    <tr>
                        <td>{{ review.comment }}</td>
                        {% set user = review.getUser() %} 
                        <td><a href="{{ path('app_profile', {'id': user.id}) }}" class="btn btn-primary">Voir le profil</a></td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
