{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <h2 class="text-center">mentions légales</h2>
    {% if Mentionlegale %}
        <div>
            <!-- Affichez ici les propriétés de l'objet politique -->
            <p> {{ Mentionlegale.mentionlegale | raw}}</p>
        </div>
    {% else %}
        <p>mentions légales non trouvée.</p>
    {% endif %}
{% endblock %}
